<!DOCTYPE html>
<html>
	<head>
		
		<!-- INFOS -->

			<meta charset="utf-8" />
			<title>Tests angular-bootstrap-popup.js</title>

			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta name="HandheldFriendly" content="True" />
			<meta name="MobileOptimized" content="320" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

			<meta name="google" content="notranslate" />
			
		<!-- CSS -->

			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
			
	</head>

	<body data-ng-app="AngularBootstrapPopupApp" class="container-fluid">

		<div data-ng-controller="TestsController" class="btn-group">
			<button type="button" class="btn btn-default" data-ng-click="startReadme();">Test the 'readme' codes</button>
			<button type="button" class="btn btn-default" data-ng-click="startAlert();">Start 'alert' tests</button>
			<button type="button" class="btn btn-default" data-ng-click="startConfirm();">Start 'confirm' tests</button>
			<button type="button" class="btn btn-default" data-ng-click="startPrompt();">Start 'prompt' tests</button>
			<button type="button" class="btn btn-default" data-ng-click="startIframe();">Start 'iframe' tests</button>
			<button type="button" class="btn btn-default" data-ng-click="startSound();">Start 'sound' tests</button>
			<button type="button" class="btn btn-default" data-ng-click="startCloseAll();">Start 'close all' tests</button>
			<button type="button" class="btn btn-default" data-ng-click="startClosePopups();">Start 'close all popups' tests</button>
		</div>

		<!-- JS -->

			<!-- jQuery -->

			<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js" crossorigin="anonymous"></script>

			<!-- Bootstrap -->

			<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

			<!-- AngularJS -->

			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js" crossorigin="anonymous"></script>

			<!-- InteractJS -->

			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.6/interact.min.js" crossorigin="anonymous"></script>

			<!-- angular-bootstrap-popup.js -->

			<script type="text/javascript" src="../angular-bootstrap-popup.min.js"></script>

			<!-- run -->

			<script type="text/javascript">

				"use strict";

				angular.module('AngularBootstrapPopupApp', ['ngBootstrapPopup'])

				.controller('TestsController', ['$scope', '$popup', function($scope, $popup) {

					$scope.startReadme = function() {

						$popup.alert('test');

						$popup.alert({
							title : 'Title',
							message : 'Success',
							onclose : function() { }
						});

						$popup.prompt({
							title : 'Title',
							label : 'A label',
                			fieldtype : 'password',
							val : 'A value',
							placeholder : 'A placeholder',
							onconfirm : $popup.alert,
							onabort : function() {}
						});

						$popup.confirm({
							title : 'Title',
							message : 'Confirm ?',
							onyes : function() {
								
								$popup.alert({
									title : 'Title',
									type : 'success',
									message : 'Success',
									onclose : function() { }
								});

							},
							onno : function() {
								
								$popup.alert({
									title : 'Title',
									type : 'danger',
									message : 'Fail',
									onclose : function() { }
								});

							}
						});

						$popup.iframe('https://www.youtube.com/embed/zIA0kaGFIhQ');

						$popup.iframe({
							title : 'Title',
							url : 'https://www.youtube.com/embed/zIA0kaGFIhQ',
							onclose : function() { }
						});

						$popup.sound('https://test.fr/test.mp3');

						$popup.sound({
							sources : [ 'https://test.fr/test.mp3', 'https://test.fr/test.mpeg' ]
						});

						$popup.sound({
							sources : [
								{ url : 'https://test.fr/test.mp3', 'type' : 'mp3' },
								{ url : 'https://test.fr/test.mpeg', 'type' : 'mpeg' }
							]
						});

					};

					$scope.startAlert = function() {

						$popup.alert({
							message : 'draggable & resizable',
							draggable: true, resizable: true,
							onclose : function() {

								$popup.alert({
									type : 'danger',
									message : 'type danger',
									onclose : function() {

										$popup.alert({
											message : 'backdrop true',
											backdrop : true,
											onclose : function() {

												$popup.alert({
													message : 'backdrop false',
													backdrop : false,
													onclose : function() {

														$popup.alert({
															message : 'keyboard true',
															keyboard : true,
															onclose : function() {

																$popup.alert({ type : 'success', message : 'Ok' });

															}
														});

													}
												});

											}
											
										});

									}
								});

							}
						});

						return false;

					};

					$scope.startConfirm = function() {

						$popup.confirm({
							title : 'New method',
							message : 'Must click yes',
							onyes : function() {

								$popup.confirm({
									title : 'New method',
									message : 'Must click no',
									onyes : function() {

										$popup.alert({
											type : 'danger',
											message : 'Retry & click no'
										});

									},
									onno : function() {
										$popup.alert({ type : 'success', message : 'Ok' });
									}
								});

							},
							onno : function() {

								$popup.alert({
									type : 'danger',
									message : 'Retry & click yes'
								});

							}
						});

					};

					$scope.startPrompt = function() {

						$popup.prompt({
							label : 'Must click ok',
							placeholder : 'a placeholder',
							val : 'a value',
							onconfirm : function(val) {

								$popup.prompt({
									label : 'Must click close',
									placeholder : 'a placeholder',
									val : val,
									onconfirm : function() {

										$popup.alert({
											type : 'danger',
											message : 'Retry & click close'
										});

									},
									onabort : function() {
										$popup.alert({ type : 'success', message : 'Ok' });
									}
								});

							},
							onabort : function() {
								
								$popup.alert({
									type : 'danger',
									message : 'Retry & click ok'
								});

							}
						});

					};

					$scope.startIframe = function() {

						$popup.iframe({
							title : '<h4>Bootloader Playstation</h4>',
							url : 'https://www.youtube.com/embed/zIA0kaGFIhQ',
							onclose : function() {
								$popup.iframe('https://www.youtube.com/embed/zIA0kaGFIhQ');
							}
						});

					};

					$scope.startSound = function() {

						$popup.sound({
							title: '<h4>Sound test</h4>',
							sources : [
								{ url : 'https://test.fr/test.mp3', type : 'mp3' },
								{ url : 'https://test.fr/test.mpeg', type : 'mpeg' }
							],
							onclose : function() {

								$popup.sound({
									sources : [ 'https://test.fr/test.mp3', 'https://test.fr/test.mpeg' ],
									onclose : function() {

										$popup.sound('https://test.fr/test.mp3');

									}
								});

							}
						});

					};

					$scope.startCloseAll = function() {

						$popup.alert('test');
						$popup.alert('test');
						$popup.alert('test');
						$popup.alert('test');
						$popup.alert('test');
						$popup.alert('test');

						$popup.alert({
							message: 'test',
							onclose: $popup.closeAll
						});

					};

					$scope.startClosePopups = function() {

						$popup.alert('test');
						$popup.alert('test');
						$popup.alert('test');
						$popup.alert('test');
						$popup.alert('test');
						$popup.alert('test');

						$popup.alert({
							message: 'test',
							onclose: $popup.closeAllPopups
						});

					};

				}]);

			</script>
			
	</body>
	
</html>